img {
  max-width: 100%;
}

h2 {
  color: black;
}

ul {
  padding-left: 4%;
}

a:hover {
  text-decoration: none;
}

.container {
  margin: 0%;
  padding: 0%;
  width: 100%;
}

.row {
  margin: 0px;
}

.navbar {
  margin-bottom: 0%;
}

.navbar-header {
  display: flex;
}

.mastheadSection__row{
  margin: 0%;
  padding: 0%;
  height: 390px;
  width: 100%;
  background: url(../images/heroSection_image.jpg) gray;
  background-size: cover;
}

.mastheadSection__tagline h1{
  text-align: center;
  color: white;
  background-color: #222;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 150px;
}

.aboutSection__row {
  padding-top: 2%;
  padding-bottom: 4%;
}

.aboutSection__profilePic{
  padding-top: 2%;
}

.aboutSection__content p{
  font-size: 18px;
  padding-top: 2%;
  padding-right: 2%;
}

.experienceSection__header {
  text-align: center;
  padding-bottom: 2%
}

.experienceSection__amazon__content {
  background: url(../images/amazon3.jpg) gray;
  background-size: cover;
  color: white;
  padding-left: 5%;
  padding-bottom: 2%;
  font-size: 18px;
  padding-right: 10%;
  height: 100%;
}

.experienceSection__amazon__content h2 {
  color: white;
  text-align: center;
  font-size: 40px;
}

.experienceSection__amazon__content h3 li{
  font-size: 24px;
}

.experienceSection__samsung__content {
  background: url(../images/samsung2.jpg) gray;
  background-size: cover;
  color: white;
  padding-left: 5%;
  padding-bottom: 2%;
  font-size: 18px;
  padding-right: 10%;
  height: 100%;
}

.experienceSection__samsung__content h2 {
  color: white;
  text-align: center;
  font-size: 40px;
}

.experienceSection__deloitte__content {
  background: url(../images/deloitte2.jpg) gray;
  background-size: cover;
  color: white;
  padding-left: 5%;
  padding-bottom: 2%;
  font-size: 18px;
  padding-right: 10%;
  height: 100%;
}

.experienceSection__deloitte__content h2 {
  color: white;
  text-align: center;
  font-size: 40px;
}

.connectSection__header {
  text-align: center;
  font-size: 40px;
}

.connectSection__content {
  padding-top: 2%;
  margin-bottom: 0%;
}

.connectSection__content img{
  padding-top: 2%;
  padding-bottom: 5%;
}

.footerSection__container {
  background-color: #222;
  color: #9d9d9d;
  margin-top: 2%;
  padding-top: 1%;
  padding-bottom: 0.5%;
  text-align: right;
}

/*Tablet portrait*/
@media only screen and (max-width: 768px) {
  h1{
    font-size: 30px;
  }

  .mastheadSection__row {
    height: 250px;
  }

  .mastheadSection__tagline h1{
    margin-top: 90px;
  }

  .experienceSection__amazon__content {
    padding-top: 1%;
    height: 700px;
  }

  .experienceSection__samsung__content {
    padding-top: 1%;
    height: 700px;
  }

  .experienceSection__deloitte__content {
    padding-top: 1%;
    height: 700px;
  }
}

/*Phone portrait*/
@media only screen and (max-width: 480px) {
  .experienceSection__amazon__content {
    font-size: 16px;
  }

  .experienceSection__samsung__content {
    font-size: 16px;
  }

  .experienceSection__deloitte__content {
    font-size: 16px;
  }

  .connectSection__container {
    padding-bottom: 5%;
  }

  .aboutSection__row p{
    font-size: 16px;
  }
}
